<!DOCTYPE html>
<html>
<head>
    <title>Orçamento</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
</head>
<body>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" align="center"><h1>ORÇAMENTO</h1></div>
    <a href="{% url 'create' %}"><button class="btn">NOVO ORÇAMENTO</button></a>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>NOME DO CLIENTE</th>
                <th>DATA DE CRIAÇÃO</th>
                <th>#</th>
            </tr>
        </thead>
        <tbody>
            {% for orcamento in orcamentos %}
                <tr>
                    <td>{{ orcamento.id }}</td>
                    <td>{{ orcamento.nome_do_cliente }}</td>
                    <td>{{ orcamento.data_criacao }}</td>
                    <td><a href="{% url 'orcamento' orcamento.id %}">IMPRIMIR</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>